({:number "15833", :name "Abstract", :pics ["Death" "Ensô" "The Universe (The Circle, Triangle, and Square)" "Silhouette fantastique" "Taches with fingerprints" "Composition with taches" "First Communion of Anaemic Young Girls in the Snow" "Apoplectic Cardinals Harvesting Tomatoes on the Shore of the Red Sea (Study of the Aurora Borealis)" "The Awe of Navy Recruits Seeing for the First Time Your Blue, O Mediterranean Sea!" "Negroes Fighting in a Tunnel by Night" "Abstract Composition" "Chaos, Nr. 2" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" ""], :link "https://www.wikiart.org/en/paintings-by-genre/abstract?select=featured"})